// ======== 公共样式表 ========
@import "../modules/variables";
@import "../modules/mixins";

body {
  @include set-size(100%, 100%);
  font-family: $font-family-default;
  color: $font-color-default;
}

.p-body {
  @include set-size(100%, 100%);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
