// ======== 全局变量 ========
$color-default: #666;
$color-primary: #d82f21;

// Input
$input-placeholder-color: #929292;

// Font
$font-family-default: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
$font-color-default: $color-default;
